version: "3.8"

networks:
  custom_network:
    external: true
    name: olimpiec_custom_network

services:
  frontend-dev:
    image: node:20-alpine
    container_name: frontend-dev-olimpiec
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - NODE_ENV=development
    networks:
      - custom_network
    stdin_open: true
    tty: true